<template name="cursosDB">
   <div class="row">
      {{#each Fullcursos}}
      <div class="col-md-4">
         <div class="card">
            <div class="card-header card-chart" data-background-color="green">
               <img src="images/curso.jpg">
            </div>
            <div class="card-content">
               <h4 class="title">{{nombre}}</h4>
               <p class="category">{{sigla}}</p>
            </div>
            <div class="card-footer">
               <div class="stats">
                  <i class="material-icons">access_time</i> {{fecha}}
               </div>
               <center>
                  <a href="ver-curso/{{sigla}}" class="btn btn-primary">Acceder al curso</a>
               </center>
            </div>
         </div>
      </div>
      {{/each}}
   </div>
</template>
<template name="ver_curso">
   <div class="card">
      <div class="card-header" data-background-color="purple">
         {{#with Vercurso}}
         <h4 class="title crear">{{nombre}}</h4>
         <p class="category">
            {{sigla}}
            <!--<a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>-->
         </p>
         {{/with}}
      </div>
      <div class="card-content">
         <div class="places-buttons">
            <div class="row">
               <div class="col-md-12">
                  <div class="row">
                     <div class="col-md-6">
                        <h2>Materiales Del curso</h2>
                     </div>
                     <div class="col-md-6">
                        <form class="navbar-form navbar-right" role="search">
                           <div class="form-group is-empty">
                              <input type="text" class="form-control" placeholder="Escribe tu Pregunta">
                              <span class="material-input"></span>
                              <span class="material-input"></span>
                           </div>
                           <button type="submit" class="btn btn-white btn-round btn-just-icon">
                              <i class="material-icons">search</i>
                              <div class="ripple-container"></div>
                           </button>
                        </form>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="card card-nav-tabs">
                           <div class="card-header" data-background-color="purple">
                              <div class="nav-tabs-navigation">
                                 <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Tasks:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                       <li class="active">
                                          <a href="#profile" data-toggle="tab" aria-expanded="true">
                                             <i class="material-icons">bug_report</i>
                                             Todos
                                             <div class="ripple-container"></div>
                                          </a>
                                       </li>
                                       <li class="">
                                          <a href="#messages" data-toggle="tab" aria-expanded="false">
                                             <i class="material-icons">code</i>
                                             Prioridad
                                             <div class="ripple-container"></div>
                                          </a>
                                       </li>
                                       <li class="">
                                          <a href="#settings" data-toggle="tab" aria-expanded="false">
                                             <i class="material-icons">cloud</i>
                                             Nuevos
                                             <div class="ripple-container"></div>
                                          </a>
                                       </li>
                                       <li class="">
                                          <a href="#settings" data-toggle="tab" aria-expanded="false">
                                             <i class="material-icons">cloud</i>
                                             Mejores
                                             <div class="ripple-container"></div>
                                          </a>
                                       </li>
                                       <li class="">
                                          <a href="#settings" data-toggle="tab" aria-expanded="false">
                                             <i class="material-icons">cloud</i>
                                             No resueltos
                                             <div class="ripple-container"></div>
                                          </a>
                                       </li>
                                       <li class="">
                                          <a href="#settings" data-toggle="modal" data-target="#myModal">
                                             <i class="material-icons">cloud</i>
                                             Agregar Material
                                             <div class="ripple-container"></div>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="card-content">
                              <div class="tab-content">
                                 <div class="tab-pane active" id="profile">
                                    <table class="table">
                                       <tbody>
                                          {{#each filesCurso}}
                                          <tr>
                                             <td align="center">
                                                <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                                             </td>
                                             <td width="50%">{{this.name}}</td>
                                             <td>
                                                <a href="{{this.url}}" target="_blank"  class="btn btn-primary">
                                                <span>Descargar</span>
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                </a>
                                             </td>
                                             <td>
                                                <button type="button"  class="btn btn-warning">
                                                <span>Editar</span>
                                                <i class="material-icons">edit</i>
                                                </button>
                                             </td>
                                             <td>
                                                <button type="button"  class="btn btn-danger">
                                                <span>Eliminar</span>
                                                <i class="material-icons">close</i>
                                                </button>
                                             </td>
                                          </tr>
                                          {{/each}}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Crear Material para este Curso</h4>
            </div>
            <div class="modal-body">
               <div class="card-content">
                  <form method="POST" >
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group label-floating is-empty">
                              <label class="control-label">Nombre de Material</label>
                              <input type="text" name="nombreMaterial" class="form-control">
                              <span class="material-input"></span>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group label-floating is-empty">
                              <label class="control-label">Descripcion de  Material</label>
                              <input type="text" name="descripcionMaterial" class="form-control">
                              <span class="material-input"></span>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="">
                              <label class="control-label">Subir Material</label>
                              <input name="archivosMaterial" class="form-control archivos" type="file" accept="pdf,jpg,png"/>
                              {{#with Vercurso}}
                              <input type="hidden" name="sigla" value="{{sigla}}"/>
                              {{/with}}
                              <span class="material-input"></span>
                           </div>
                        </div>
                     </div>
                     <button type="submit" class="btn btn-primary pull-right">Crear </button>
                     <div class="clearfix"></div>
                  </form>
               </div>
            </div>
            <!--<div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>-->
            <div class="fileupload fileupload-new" data-provides="fileupload">
               <span class="btn btn-file">
               <span class="fileupload-new">SSSS</span>
               <span class="fileupload-exists">Andere</span>
               <input name="xxx" class="file-upload-input" type="file"/>
               </span>
               <span class="fileupload-preview">
               </span>
               <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
            </div>
         </div>
      </div>
   </div>
</template>
<template name="ver_material_curso">
   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <div class="card-header card-chart" data-background-color="green">
               <img src="images/curso.jpg">
            </div>
            <div class="card-content">
               <h4 class="title">asd</h4>
               <p class="category">asd</p>
            </div>
            <div class="card-footer">
               <div class="stats">
                  <i class="material-icons">access_time</i> 
               </div>
               <center>
                  <a href="ver-curso/{{sigla}}" class="btn btn-primary">Acceder al curso</a>
               </center>
            </div>
         </div>
      </div>
   </div>
</template>